.camelo{
    background-color: red;
    justify-content: center;
    align-items: center;
}
.camaleao{
    background-color: blue;
    justify-content: center;
    align-items: center;
}
.panda{
    background-color: green;
    justify-content: center;
    align-items: center;
}
.urso{
    background-color: yellow;
    justify-content: center;
    align-items: center;
}
.passarinho{
    background-color: orange;
    justify-content: center;
    align-items: center;
}